.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    font-family: 'Poppins', serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

p {
    margin-top:10px;
    margin-bottom: 0px;
    padding: 0;
}

.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (min-width: 1000px) {
    .container  {
        width: 40%;
        margin: 2%;
    }
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1000px) {
    .container  {
        margin: 5%;
    }
}

.graybox {
    background-color: #111;
    border-radius: 15px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 12%;
    padding-right: 12%;
}

.title {
    font-size: medium;
    margin-bottom: 15px;
    color: white;
}

.song_info_section{
    margin-top: 10px;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (min-width: 1000px) {
    .title  {
        font-size: larger;
    }
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1000px) {
    .title  {
        font-size: medium;
    }
}

.imagelevitate {
    width: 100%;
    border-radius: 15px;
}
.description1 {
    color: #fff;
    display: flex;
    justify-content: center;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (min-width: 1000px) {
    .description1  {
        font-size: 16px;
    }
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1000px) {
    .description1  {
        font-size: 12px;
    }
}


.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.social-btn {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
    
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (min-width: 1000px) {
    .social-btn  {
        font-size: large;
    }
}


/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1000px) {
    .social-btn  {
        font-size: small;
    }
}




.social-btn img {
    width: 20px;
    height: 20px;
}

.spotify {
    background-color: #1DB954;
}

.spotify:hover {
    background-color: #1aa34a;
    transform: scale(1.05);
}

.apple-music {
    background-color: #FA233B;
}

.apple-music:hover {
    background-color: #d92031;
    transform: scale(1.05);
}

.youtube-music {
    background-color: #FF0000;
}

.youtube-music:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

.deezer {
    background-color: #a53dff;
}

.deezer:hover {
    background-color: #7e00ec;
    transform: scale(1.05);
}

.tidal {
    background-color: #040404;
}

.tidal:hover {
    background-color: #333333;
    transform: scale(1.05);
}

.amazon-music {
    background-color: #24abb8;
}

.amazon-music:hover {
    background-color: #2a5460;
    transform: scale(1.05);
}

.soundcloud {
    background-color: #FF5500;
}

.soundcloud:hover {
    background-color: #e64d00;
    transform: scale(1.05);
}

.bandcamp {
    background-color: #408294;
}

.bandcamp:hover {
    background-color: #35717d;
    transform: scale(1.05);
}